 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
 body{
    font-family:"typold",sans-serif;
 }
@font-face {
    font-family: 'typold';
    src: url("./assets/font/Typold-Book500.otf");
    font-weight: 400;
}
@font-face {
    font-family: 'typold';
    src: url("./assets/font/TheNorthern-BlockLtdTypoldBold.otf");
    font-weight: 700;
}
@font-face {
    font-family: 'typold';
    src: url("./assets/font/TheNorthern-BlockLtdTypoldExtraBold.otf");
    font-weight: 900;
}
@font-face {
    font-family: 'typold';
    src: url("./assets/font/TheNorthern-BlockLtdTypoldThin.otf");
    font-weight: 300;
}

 
